<div (click)="toggleContent()">
  <div class="row">
    <ng-content select="[well-title]"></ng-content>
    <div class="btn btn-sm btn-primary">
      <i class="fa" [ngClass]="showHide()"></i>
    </div>
  </div>
  <ng-content *ngIf="visible" select="[well-body]"></ng-content>
</div>
