<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">{{title}}</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/home']" routerLinkActive="active" routerLinkActiveOptions="{exact:true}">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/products/list']" routerLinkActive="active">Products</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/user/profile']" routerLinkActive="active">Profile</a>
      </li>
    </ul>
  </div>
</nav>
<div class="container">
  <router-outlet></router-outlet>
</div>

