<div class="cropp"
     (click)="onClick()"
     [style.width.px]="starWidth"
     [title]="rating">
  <div style="width:100px">
    <i class="fa fa-star" aria-hidden="true"></i>
    <i class="fa fa-star" aria-hidden="true"></i>
    <i class="fa fa-star" aria-hidden="true"></i>
    <i class="fa fa-star" aria-hidden="true"></i>
    <i class="fa fa-star" aria-hidden="true"></i>
  </div>
</div>
