<div class="row">
  <div class="col-md-12">
<div class="card">
  <div class="card-body">
    <h4 class="card-title">
      {{ pageTitle }}
    </h4>
    <div class="row">
      <div class="col-md-2">Filter By:</div>
      <div class="col-md-4">
        <input type="text"
          [(ngModel)]="listFilter"
        />
      </div>
      <div class="col-md-4">
        <a [routerLink]="['/products/create']" class="btn btn-success btn-sm"> <i class="fa fa-plus" aria-hidden="true"></i> New</a>
      </div>
    </div>
    <div class="row" *ngIf="listFilter">
      <div class="col-md-6">
        <h3>Filtered by: {{ listFilter }}</h3>
      </div>
    </div>
    <button class="btn btn-primary" (click)="toggleImage()">{{ showImage ? 'Hide' : 'Show Image'}}</button>
    <div class="row" *ngIf="products && products.length">
      <div class="card col-md-6" *ngFor="let product of filteredProducts">
        <div class="card-body">
          <collapsible-product>
            <div well-title>
              {{product.productName}}
            </div>
          <!--<h4 class="card-title">{{product.productName}}</h4>-->
            <div well-body>
              <img *ngIf="showImage"
                   [src]="product.imageUrl"
                   [title]="product.productName"
                   [style.width.px]="imageWidth"
                   [style.margin.px]="imageMargin"
              /><br/>
              <a>{{ product.productName | uppercase}}</a><br/>
              {{ product.productCode | convertToSpaces: '-'}}<br/>
              {{ product.releaseDate }}<br/>
              {{ product.price | currency: 'RUB ':true:'1.2-2' }}<br/>
              <pm-star
                [rating]='product.starRating'
                (ratingClicked)="onRatingClicked($event)"
              ></pm-star><br/>
            </div>

          </collapsible-product>
          <a [routerLink]="['/products/update', product.productId]" class="btn btn-warning btn-sm"> <i class="fa fa-edit" aria-hidden="true"></i> Update</a>
        </div>
      </div>
    </div>
  </div>
</div>
  </div></div>
