<div class="card" *ngIf="product">
  <div class="card-body">
    <h4 class="card-title">{{pageTitle + ': ' + product?.productName}}</h4>
    <img
         [src]="product.imageUrl"
         [title]="product.productName"
         [style.width.px]="imageWidth"
         [style.margin.px]="imageMargin"
    /><br/>
    <a [routerLink]="['/products', product.productId]">{{ product.productName | uppercase}}</a><br/>
    {{ product.productCode | convertToSpaces: '-'}}<br/>
    {{ product.releaseDate }}<br/>
    {{ product.price | currency: 'RUB ':true:'1.2-2' }}<br/>
      <pm-star
        [rating]='product.starRating'
        (ratingClicked)="onRatingClicked($event)"
      ></pm-star><br/>
    <button (click)="onBackClick()" class="btn btn-primary">Back</button>
  </div>
</div>
