<div clas="row">
  <h3>{{pageTitle + _product.productName}}</h3>
  <form #form="ngForm" class="col-md-4" [formGroup]="productForm" (ngSubmit)="saveProduct(productForm.value)">
    <input type="hidden" name="productId" formControlName="productId">
    <div class="form-group">
      <label>Product Name</label>
      <input formControlName="productName" type="text" placeholder="Product Name" class="form-control" name="productName"
        [ngClass]="{'is-invalid': !validateProductName()}"
      />
      <div class="invalid-feedback" *ngIf="!validateProductName() && productForm.controls.productName.errors.required">
        Please enter your name
      </div>
      <div class="invalid-feedback" *ngIf="!validateProductName() && productForm.controls.productName.errors.pattern">
        Name must be 3+ letters
      </div>
      <div class="invalid-feedback" *ngIf="!validateProductName() && productForm.controls.productName.errors.restrictedWords">
        Restricted words found: {{productForm.controls.productName.errors.restrictedWords}}
      </div>
    </div>
    <div class="form-group">
      <label>Product Price</label>
      <input formControlName="price" type="text" placeholder="Product Price" class="form-control" name="price"      />
    </div>
    <button type="submit" class="btn btn-primary btn-sm" >Ok</button>
    <a class="btn btn-danger btn-sm" [routerLink]="['/products/list']">Cancel</a>
  </form>
</div>
