<div clas="row">
<h3>{{pageTitle}}</h3>

<form #form="ngForm" class="col-md-4" novalidate (submit)="submitForm(form.value)" (change)="formChange(form.dirty)">
  <div class="form-group">
    <label>Product Name</label>
    <input #productNameInput="ngModel" required type="text" placeholder="Product Name" class="form-control" name="productName" pattern="...+"
           [ngModel]="_product.productName"
           (ngModelChange)="productNameToUpperCase($event)"
           [class.is-invalid]="productNameInput.touched && productNameInput.invalid"
    />
    <div class="invalid-feedback" role="alert" *ngIf="productNameInput.touched && productNameInput.invalid">
      Product name is required, and min length is 3 symbols
    </div>
  </div>
  <div class="form-group">
    <label>Product Price</label>
    <input #priceInput="ngModel" required type="text" placeholder="Product Price" class="form-control" name="price"
           (change)="validatePrice(priceInput.value)"
           (ngModel)="price"
           [class.is-invalid]="priceInput.touched && _hasPriceError"
    />
    <div class="invalid-feedback" role="alert" *ngIf="priceInput.touched && _hasPriceError">
      Product price is required and should be positive number
    </div>
  </div>
  <div class="form-check">
    <label class="form-check-label">
      <input type="checkbox" class="form-check-input" name="available" (ngModel)="available">
      Product Available
    </label>
  </div>
  <div class="form-check">
    <label class="form-check-label">
      <input class="form-check-input" type="radio" name="starRating" value="1" checked (ngModel)="starRating">
      1 star
    </label>
  </div>
  <div class="form-check">
    <label class="form-check-label">
      <input class="form-check-input" type="radio" name="starRating" value="3" (ngModel)="starRating">
      3 star
    </label>
  </div>
  <div class="form-check">
    <label class="form-check-label">
      <input class="form-check-input" type="radio" name="starRating" value="5" (ngModel)="starRating">
      5 star
    </label>
  </div>
  <div class="form-group">
    <label for="productCode">Product Code</label>
    <select class="form-control" id="productCode" name="productCode"
            #productCodeInput
            (ngModel)="productCode"
            [class.is-invalid]="_hasProductCodeError"
            (change)="validateProductCode(productCodeInput.value)">
      <option value="default">Select...</option>
      <option *ngFor="let code of productCodes">{{code}}</option>
    </select>
    <div class="invalid-feedback" role="alert" *ngIf="_hasProductCodeError">
      Please select Product Code
    </div>
  </div>
  <div class="form-group">
  <!--<input type="text" name="releaseDate"-->
         <!--class="form-control"-->
         <!--[(ngModel)]="_product.releaseDate"-->
         <!--[minDate]="minDate"-->
         <!--[maxDate]="maxDate"-->
         <!--#dp="bsDatepicker"-->
         <!--bsDatepicker [(bsValue)]="bsValue">-->
  </div>
  <button type="submit" class="btn btn-primary btn-sm" [disabled]="form.invalid">Ok</button>
  <a class="btn btn-danger btn-sm" [routerLink]="['/products/list']">Cancel</a>
</form>
  Model: {{_product | json}}
  <br/>
  Angular: {{form.value | json}}
  <br/>
  {{form.pristine}}<br/>
  {{form.dirty}}<br/>
  {{isDirty}}
</div>
